body {
  background: rgb(12,12,12);
  font-family: 'Bowlby One SC', cursive;
}

form,
h1,
img,
#gen,
#names {
  position: absolute;
}

form {
  top: 39.9%;
  width:20%;
  margin:5% 60%;
}

html {
  font-size: 24px;
}

h1,
#names {
  margin: 0;
}

h1 {
  color: rgb(255,204,1);
  font-size: 2.5rem;
  letter-spacing: 1px;
  position: absolute;
  left: 25%;
}

h2 {
  color: white;
}

img {
  position: absolute;
  left: 37%;
}

input {
  border-radius: 3px;
  display: block;
  margin-top: 10px;
  height: 100px;
  width: 600px;
}

#gen {
  border: 5px solid rgb(255,204,1);
  border-radius: 10px;
  color: rgb(255,204,1);
  height: 50px;
  margin-top: 25px;
  padding-top: 15px;
  left: 33%;
  text-align: center;
  width: 200px;
}


#gen:hover {
  background-color: rgb(255,204,1);
  color: rgb(12,12,12);
  cursor: pointer;
}

#names {
  top: 110%;
  left: 45%;
}
